<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="fs-1">Butler Bucks</h1>
    <h3 class="fs-4">"Balancing Budgets, Building Futures"</h3>
    <div class="d-flex">
      <button type="button" class="btn">Login</button>
      <button type="button" class="btn">Register</button>
    </div>
  </div>
</div>
