<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="text-white">Butler Bucks</h1>
    <h3 class="fs-6 text-white my-3">Balancing Budgets, Building Futures</h3>
    <div class="d-flex justify-content-between">
      <a href="/login" class="btn login-btn">Login</a>
      <a href="/register" class="btn register-btn">Register</a>
    </div>
  </div>
</div>
