<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center text-center"
  >
    <h1 class="text-white display-4 d-none d-md-block">Butler Bucks</h1>
    <h1 class="text-white h3 d-block d-md-none">Butler Bucks</h1>
    <h3 class="fs-6 text-white my-3">Balancing Budgets, Building Futures</h3>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <a href="/login" class="btn login-btn mb-2 mb-md-0">Login</a>
      <a href="/register" class="btn register-btn mt-2 mt-md-0">Register</a>
    </div>
  </div>
</div>
