<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="text-white">Butler Bucks</h1>
    <h3 class="fs-6 text-white my-3">"Balancing Budgets, Building Futures"</h3>
    <div class="d-flex button-container">
      <button type="button" class="btn custom-btn">Login</button>
      <button type="button" class="btn custom-btn">Register</button>
    </div>
  </div>
</div>
