<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center text-center"
  >
    <h1 class="main-title">Butler Bucks</h1>
    <h3 class="sub-title">Balancing Budgets, Building Futures</h3>
    <div class="button-container">
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Register</a>
    </div>
  </div>
</div>
