<div class="bg-img d-flex justify-content-center align-items-center">
  <div
    class="overlay d-flex flex-column justify-content-center align-items-center"
  >
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card bg-transparent border-0">
            <div class="card-header text-white">
              <h2>Register for Butler Bucks</h2>
            </div>
            <div class="card-body">
              <% if (messages && messages.length > 0) { %>
              <div class="alert alert-danger">
                <% messages.forEach(function(message) { %>
                <p><%= message %></p>
                <% }); %>
              </div>
              <% } %>
              <form action="/register" method="POST">
                <div class="mb-3">
                  <label for="username" class="form-label text-white"
                    >Username</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label text-white"
                    >Email Address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-white"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="confirm-password" class="form-label text-white"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirm-password"
                    name="confirm-password"
                    required
                  />
                </div>
                <button type="submit" class="btn custom-btn">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
