/* Variables and common settings */
:root {
  --btn-padding: 5px 20px;
  --btn-radius: 20px;
  --btn-font-size: 1.2rem;
  --btn-font-weight: 700;
  --btn-transition: all 0.3s ease;
  --btn-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.button-container {
  gap: 1rem;
}

.btn {
  padding: var(--btn-padding);
  border: none;
  border-radius: var(--btn-radius);
  margin: 0 5px;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  color: var(--black);
  text-align: center;
  box-shadow: var(--btn-box-shadow);
  transition: var(--btn-transition);
  background-color: var(--orange);
}

/* State changes */
.btn:hover,
.btn:active {
  transform: translateY(calc(var(--btn-radius) * -0.1));
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Extend base button class for admin and other types */
.admin-btn,
.btn-primary,
.btn-secondary {
  border: 1px solid currentColor;
}

.admin-btn {
  background-color: rgba(0, 123, 255, 0.5);
}

/* Custom button style */
.custom-btn {
  background-color: var(--orange);
  color: white;
  margin: 5px;
}

.custom-btn:hover {
  background-color: var(--light-blue);
}
