@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

:root {
  --light-gray: #f0eff4;
  --tan: #ebc999;
  --light-blue: #8ca9d3;
  --orange: #f26659;
  --black: #000000;
  --white: #ffffff;
}

.text-white {
  color: var(--white);
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 0.5s ease-out;
}

body {
  font-family: "Merriweather", serif;
  color: var(--light-gray);
}

h1 {
  font-size: 3rem;
}

/* Button Styling */
.button-container {
  gap: 1rem;
}

.btn {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin: 0 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: var(--orange);
}

.admin-btn {
  width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  background-color: rgba(0, 123, 255, 0.5);
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--light-gray);
  color: var(--black);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.user-banner {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  padding: 10px;
  font-size: 1.5em;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

.control-panel {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Custom button style */
.custom-btn {
  background-color: var(--orange);
  color: white;
  margin: 5px;
}

.custom-btn:hover {
  background-color: var(--light-blue);
}

/* Background Styling */

.bg-img {
  background-image: url("/imgs/benjamins-background.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  transition: all 0.5s ease;
  color: var(--black);
  font-weight: 600;
  font-size: 0.8rem;
  width: auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.alert-success {
  background-color: rgba(40, 167, 69, 0.6);
  color: white;
}

.alert-danger {
  background-color: rgba(220, 53, 69, 0.6);
  color: white;
}

#admin-options {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#admin-options h2 {
  background-color: #007bff;
  color: white;
  margin: 0;
  padding: 1rem;
}
#admin-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#admin-options ul li {
  border-bottom: 1px solid #ddd;
}
#admin-options ul li:last-child {
  border-bottom: none;
}
#admin-options ul li a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}
#admin-options ul li a:hover {
  background-color: #f1f1f1;
}

.admin-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.admin-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-list {
  list-style: none;
  padding: 0;
}

.admin-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.username {
  font-size: 1.2rem;
}

.approve-btn,
.deny-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.approve-btn {
  background-color: #4caf50;
  color: white;
}

.deny-btn {
  background-color: #f44336;
  color: white;
}
